{% extends "base.html" %}
{% load static %}
{% block title %}User Entry{% endblock %}
{% block header %}<link rel="stylesheet" href="{% static 'css/form.css' %}">{% endblock %}
{% block body %}

<div class="main">
  <form method="POST">
    <h2>Sign in</h2>
    <p class="description">Please fill out the form below.</p>
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="field">
      {{ field }}
      {{ field.errors }}
    </div>
    {% endfor %}
    <p><button class="btn" type="submit">Entry</button></p>
    <a class="link" href="{% url 'login' %}">back</a>
  </form>
</div>

{% endblock %}
