{% extends "frame.html" %}
{% load static %}
{% block title %}Approval{% endblock %}
{% block header %}<link rel="stylesheet" href="{% static 'css/workflow.css' %}">{% endblock %}
{% block body %}

<div class="main">
  <form method="post">
    <h1>Approval</h1>
    <p class="description">Please choose either "Approved" or "Rejected", and then click the button.</p>
    {% csrf_token %}

    <table>
      <thead>
        <tr>
          <th style="width: 5%;">ID</th>
          <th style="width: 10%;">User</th>
          <th style="width: 15%;">Start Date</th>
          <th style="width: 15%;">End Date</th>
          <th style="width: 25%;">Reason</th>
          <th style="width: 10%;">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for data in pending_list %}
        <tr>
          <td>{{ data.id }}</td>
          <td>{{ data.user.username }}</td>
          <td>{{ data.start_date | date:"Y/m/d" }}</td>
          <td>{{ data.end_date | date:"Y/m/d" }}</td>
          <td>{{ data.reason }}</td>
          <td>
            <select class="input" name="status_{{ data.id }}">
              <option value="0" {% if data.status == 'pending' %}selected{% endif %}>Pending</option>
              <option value="1">Approved</option>
              <option value="2">Rejected</option>
            </select>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <p><button class="btn" type="submit">Submit</button></p>
  </form>
</div>

{% endblock %}
{% block script %}<script src="{% static 'js/confirm.js' %}"></script>{% endblock %}
