{% extends "frame.html" %}
{% load static %}
{% block title %}Request{% endblock %}
{% block header %}<link rel="stylesheet" href="{% static 'css/base.css' %}">{% endblock %}
{% block body %}

<div class="main">
  <form>
    <h1>Request</h1>
    <p class="description">Select your request.</p>
    <p><a class="workflow" href="{% url 'paid_leave_request' %}">Paid Leave</a></p>
    <p><a class="workflow" href="#">Clock Correct</a></p>
    <p><a class="workflow" href="#">Fare</a></p>
    <p><a class="workflow" href="#">Pay Period</a></p>
  </form>
</div>

{% endblock %}
