{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block header %}<link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock %}
{% block body %}

<div class="main">
  <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <h1>Staff Attendance</h1>
    <div class="certificate">
      <input class="input" type="text" name="username" placeholder="user id" required>
      <input class="input" type="password" name="password" placeholder="password" required>
      <input type="hidden" name="next" value="{{ next }}">
      {% if error %}
        <p class="error">{{ error }}</p>
      {% endif %}
      <p><button class="btn" type="submit">Log in</button></p>
      <a class="link" href="#">Forgotten password?</a>
      <br><span></span><br>
      <a class="link" href="{% url 'user_entry' %}">Not a member? Click here.</a>
    </div>
  </form>
</div>

{% endblock %}
