@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

:root {
  --font: 'Playfair Display', serif;
  --base_color: #1e1e28;
  --base_margin: 0 auto;
  --transition: all 3.5s cubic-bezier(0.19, 1, 0.22, 1);
}

body {
  font-family: var(--font);
  letter-spacing: 0.5px;
  color: var(--base_color);
}

.header {
  margin: var(--base_margin);
  padding: 0.5rem 4rem;
  width: 80%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  margin: var(--base_margin);
  padding-top: 5rem;
  max-width: 80%;
  text-align: center;
}

form {
  border: 2px solid rgba(255,255,255,0.1);
  border-radius: 10px;
  margin: var(--base_margin);
  padding: 50px 35px;
  width: 650px;
  height: 550px;
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

h1 {
  font-size: 2rem;
  padding: 0.5rem 4rem;
}

p {
  font-size: 1.15rem;
  line-height: 1.5;
}

h1, p {
  margin-bottom: 1rem;
}

.description {
  font-size: 0.7rem;
  color: var(--base_color);
}

label {
  font-size: 0.8rem;
}

.input {
  font-size: 0.7rem;
  color: antiquewhite;
  background: transparent;
  border: 0.25px solid #339999;
  border-radius: 5px;
  padding: 10px 10px 10px 14px;
  outline: none;
  cursor: pointer;
  transition: var(--transition);
}

.input:hover {
  color: #080b16;
  background: #eff0d3;
}

.error {
  font-size: 0.7rem;
  font-weight: 700;
  color: #ff4422;
  border: 2px dashed #ff4422;
  border-radius: 5px;
  margin: var(--base_margin);
  margin-top: 0.6rem;
  padding: 8px 20px;
  width: fit-content;
  isolation: isolate;
}

.message {
  font-size: 1.5rem;
  color: #ff4422;
  background: #1E1E28;
  isolation: isolate;
}

.workflow {
  font-size: 0.7rem;
  font-weight: 700;
  color: #FF4D45;
  background: #1E1E28;
  border: 2px solid #FF4D45;
  border-radius: 5px;
  margin: var(--base_margin);
  margin-top: 0.6rem;
  padding: 8px 20px;
  width: fit-content;
  isolation: isolate;
  text-decoration: none;
}

.workflow:hover {
  opacity: 0.5;
}

.btn {
  font-family: var(--font);
  font-size: 1.15rem;
  letter-spacing: 0.5px;
  color: var(--base_color);
  background: #0bd;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 10px 85px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  color: #f7f4e9;
  background: #100f2c;
}

.link {
  font-size: 0.8rem;
  color: var(--base_color);
  text-decoration: none;
  text-decoration-color: transparent;
  transition: var(--transition);
}

.link:hover {
  color: #ff4422;
  text-decoration: underline;
  text-decoration-color: currentColor;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #72777D;
  margin: 10px;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: auto;
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

th, td {
  font-size: 0.7rem;
  color: antiquewhite;
  border: 1px solid #72777D;
  text-align: center;
  text-overflow: ellipsis;
  padding: 4px;
}

th {
  background-color: #27292D;
}

td {
  background-color: #202122;
}

tr:hover td {
  opacity: 0.8;
}
