{% load static %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">

<nav class="sidebar">
  <ul class="sidebar-menu">
    <li><a href="{% url 'dashboard' %}">DASHBOARD</a></li>
    <li><a href="{% url 'clock' %}">CLOCK</a></li>
    <li><a href="{% url 'timesheets' %}">TIMESHEETS</a></li>
    <li>
      {% if request.user.is_superuser %}
        <a href="{% url 'select' %}">WORKFLOW</a>
      {% else %}
        <a href="{% url 'request' %}">WORKFLOW</a>
      {% endif %}
    </li>
    <li><a href="#">ADMINISTRATION</a></li>
  </ul>
  <div class="footer">
    <a href="{% url 'logout' %}">LOG OUT</a>
  </div>
  
  <div class="toggle-btn">
    <span></span>
    <span></span>
    <span></span>  
  </div>

  <div id="mask"></div>
</nav>

<script src="{% static 'js/toggle.js' %}"></script>
